#!/bin/bash
#path to libsuperderpy directory (can be a submodule inside game repo)
export LIBSUPERDERPY_DIR=$HOME/git/libsuperderpy

#let Android find the JDK
export JAVA_HOME=$HOME/android/jdk1.8.0_92

#let Android find the SDK
export ANDROID_HOME=$HOME/android/android-sdk-linux

#let Android find the NDK
export ANDROID_NDK_ROOT=$HOME/android/android-ndk-r14b

#set the path to the SDK
export PATH=$PATH:$ANDROID_HOME/tools

#set the path to the NDK
export PATH=$PATH:$ANDROID_NDK_ROOT

#set a variable containing the standalone toolchain
export ANDROID_NDK_TOOLCHAIN_ROOT=$HOME/android/android-toolchain

export TC=$ANDROID_NDK_TOOLCHAIN_ROOT

#set path to arm-linux-androideabi-gcc and friends
export PATH=$PATH:$TC/bin

#help the emulator find its ini files (optional)
export ANDROID_AVD_HOME=$HOME/.android/avd

#set path to Allegro build for Android, so we can inherit from its AllegroActivity
export ANDROID_ALLEGRO_ROOT=$HOME/git/allegro5/build-android-release

#set path to Android build tools (minimum 24.0.3; except 26.0.0, which is buggy)
export ANDROID_BUILD_TOOLS=$ANDROID_HOME/build-tools/26.0.1

#set path to keystore file with release signing key
export ANDROID_KEYSTORE=$HOME/android/android.keystore
